#player-total-score, #randomNum, .main-col {
    border:purple 3px solid;
    box-shadow: 1px 1px 5px;
}

#randomNum {
    text-align:center;
    box-shadow: 1px 1px 5px;

}


body {
    background-color:lightseagreen;
    color:white;
    font-family:fantasy;
}




#content {
    width:100%;
}

#instructions {
    width:100%;
}

.main-col, #randomNum, #player-total-score, #player-currentNum, #wins, #losses {
    background-color:yellowgreen;
    box-shadow: 1px 1px 5px;
}

header {
    height:75px;
    box-shadow: 1px 1px 5px;
}

.jumbotron {
    margin: 0 auto;
    padding-top: 20px;
    background-color:yellowgreen;
    text-align:center;
    height:130px;
}

.fortunetellerimg {
    float:right;
    position:absolute;
    margin-left:600px;
    margin-top: -400px;
    border: purple 5px solid;
    box-shadow: 1px 1px 5px;
}

.currentNum {
    border: solid 5px purple;
    background-color:yellowgreen;
    text-align:center;
    box-shadow: 1px 1px 5px;
}

.wins, .losses {
    background-color:yellowgreen;
    border: solid 5px purple;
    text-align:center;
    box-shadow: 1px 1px 5px
}